@import 'https://fonts.googleapis.com/css?family=Oswald:400';
@import 'https://fonts.googleapis.com/css?family=Trocchi';
@import 'https://fonts.googleapis.com/css?family=Heebo:700';

html {
-webkit-text-size-adjust: none;
font-smooth: never;
-webkit-font-smoothing: antialiased;
margin: 50px;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin: auto;
  width: 95%;
  padding: 10px;
  width: 70px;
  height: 70px;
  background-color: royalblue;
  color: white;
  border-radius: 50%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
ol {
  border-bottom: 20px solid transparent;
}

.new {
  transform: rotate(-15deg);
  background-color: yellow;
  color: black;
}

h1 {
  font-family: 'Oswald';
  margin-left: 15px;
  font-size: 700;
  font-weight: normal;
  display: inline-block;
}

ol {
  width: 85%;
  margin: auto;
  position: relative;
  text-align: left;
  padding: 0;
  list-style-type: decimal-leading-zero;
}

li {
  font-family: 'Heebo';
  font-weight: normal;
  font-size: 20px;
  color: black;
  border-bottom: 1px solid gainsboro;
  padding: 10px;
}

ol i {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
}

ol span {
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  padding: 7px;
  text-align: right;
}

li:hover:before {
  content: '\25B6';
  color: #FFD801;
}

a {
  color: none;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.submit {
  font-family: 'Oswald';
  position: relative;
  padding: 20px;
  float: right;
  color: black;
  border: 1px solid black;
  z-index: 999;
}

.submit:hover {
  background-color: black;
  color: white;
}


@media all and (max-width:500px) {

  html {
    margin: 10px;
  }
  ol i {
    width: 100%;
  }
  .submit {
    display: none;
  }
  img {
    width: 50px;
  }

  ol {
    width: 100%;
    list-style-type: none;
  }
}
